# Virtual Environment
venv/
.env
.env.local

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# ML Models
*.pkl

# VS Code
.vscode/

# Frontend
frontend/node_modules/
frontend/dist/

# Runtime Files
alerts.json
history.json
status.json
latest_frame.jpg

# Screenshots
screenshots/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log


