body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  background: #111827;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 30px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
}

.state-card {
  margin-top: 25px;
  padding: 25px;
  border-radius: 15px;
}